					<nav id="nav">
						<ul>
							<li class="current"><a href="/index.html">Home</a></li>
							<li class="current"><a href="/right-sidebar.html">Blog</a></li>
							<li class="submenu">
								<a href="#">Destinations</a>
								<ul>
									<li><a href="/left-sidebar.html">United States</a></li>
									<li><a href="/right-sidebar.html">Europe</a></li>
									<li><a href="/no-sidebar.html">South America</a></li>
									<li><a href="/contact.html">Caribbean</a></li>
									<li><a href="/contact.html">Africa</a></li>
									<li><a href="/contact.html">Asia</a></li>
									<li class="submenu">
										<a href="#">Submenu</a>
										<ul>
											<li><a href="#">Dolore Sed</a></li>
											<li><a href="#">Consequat</a></li>
											<li><a href="#">Lorem Magna</a></li>
											<li><a href="#">Sed Magna</a></li>
											<li><a href="#">Ipsum Nisl</a></li>
										</ul>
									</li>
								</ul>
							<li class="current"><a href="/right-sidebar.html">Tips</a></li>
							<li class="current"><a href="/about.html">About</a></li>
							<li class="current"><a href="/contact.html">Contact</a></li>
						    </li>
						</ul>
					</nav>